	@import url("./Pages/CreatePost.css");
	@import url("./Pages/HomePage.css");

/* Navbar */
.navbar{
    justify-content: space-between;
    background: none;
    display: flex;
    padding:0 40px 0 20px;   /*TRBL*/
	/* border:solid white; */
}
.nav-logo{
    height:60px;
    margin-left:40px;
}
.nav-button{
	width:100px;
    background-color: #548CA8;
    color: #EEEEEE;
    margin:15px 30px 20px 0;
	font-size:15px ;
    font-family: var(--main-font);
	letter-spacing: 0.09em;
}
.nav-button:hover{
    background: #476072;
	color:#F5F2E7;
}


/* FORM */
.label-name{
	color:#F5F2E7;
    font-size:15px;
	font-family:var(--par-font);
	margin-bottom:0px;
}
.form-input-field{
	width:100%;
	height:40px;
	border:none;
	background-color:#576362;
	border-radius: 6px;
	color:white;
	padding:15px;
	margin-bottom:18px;
}
.form-input-field::placeholder{
	color:#99adaa;
}
.surprise-btn{
	width:120px;
	font-size:13px;
	margin:0 0 7px 23px;
}
.footers{
    background-color: #2C3333;
    margin-top:auto;
    }
.footers p{
    font-family:var(--title-font);
    color:#B2B2B2;
    font-size:20px;
    text-align:center;
  }
@media screen and (max-width: 500px) { /* Mobile*/
    .nav-logo{
        height:30px;
    }
    .nav-button{
		width:50px;
    }
  }
  @media screen and ((min-width:500px) and (max-width: 900px))
	{
        .form-content{
            margin:25px 0;
        }
        .label-name{
            font-size:15px;
            font-family:var(--par-font);
            margin-bottom:0px;
        }
        .surprise-btn{
            margin:10px 0 8px 23px;
        }
   }