/* Create-Post */

/* html{
	overflow-y: hidden;;
} */
.create-section{
	margin:auto;
	margin-top:7px;
	width:800px;
    /* border:solid white; */
}
.post-header{
	font-family:var(--par-font);
	display:flex;
	flex-wrap: wrap;
}
.post-header h1{
	font-size: 26px;
	color:#F5F2E7;
}
.post-header p{
	color:#B2B2B2;
	font-size: 17.5px;
}
.form-content{
	display:flex;
	flex-direction: column;
	padding-top:22px;
}

.post-image-img{
	width:260px;
	height:180px;
	margin-top:5px;
	position:relative;

}
.loader-image {
	/* display: flex; */
	position: absolute;
	z-index:1;
	width:260px;
	height:185px;
	margin: -160px 0 0 0;
	/* border:solid orange; */
	background: none;
}
.cust-buttons{
	display:flex;
	padding-top:18px;
	justify-content: space-between;
	flex-direction:row;
	flex-wrap:wrap;
}
.cust-button1{
	position: relative;
	background-color:#05a86f;
	color:#F5F2E7;
	border:none;
	border-radius: 8px;
	width:200px;
	font-size: 20px;
	font-family: var(--par-font);
	letter-spacing:1.7px;
	padding:4px 0 4px 0;
}
.cust-button1:hover{
	background-color:#06b87a;
	color:#F5F2E7;
}
.cust-button2{
	position:relative;
	background-color: #2C74B3;
	color:#F5F2E7;
	letter-spacing:0.8px;
	border:none;
	padding:4px 0 4px 0;
	font-family: var(--par-font);
	border-radius:8px;
	width:340px;
	font-size:20px;
}
.cust-button2:hover{
	background-color: dodgerblue;
}
.footer{
	margin:20px 0 0 0;
	height:50px;
	padding:0;
	background:none;
}
.footer p{
	text-align: center;
	margin-top:90px;
	font-size: 20px;
	font-family:var(--title-font);
	color:#B2B2B2;
}

  @media only screen and (max-width:500px){
	.create-section {
        width:300px;
      }
    .cust-button2{
        margin-top:17px;
    }
	
    
    }
    @media screen and (min-width:500px) and (max-width:980px){
		.create-section {
			width:60%;
		  }
		  .cust-button2{
			  margin-top:17px;
		  }
		  
      }
  @media screen and (min-width:980px)
  {
    .create-section {
		width:800px;
	  }
    }

