/* Homepage*/

.head-main{
  margin: 15px auto;
    display:flex;
    flex-direction:column;
    min-height: 100vh;
}
.main-div{
  margin-top:15px;
  padding-bottom:80px;
}
.header{
    position: relative;
    text-align: center;
    overflow: hidden;
  }
  .header img{
      width:100%;
      height:425px;
      border-radius: 15px;
  }
  .wrapper {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 90px;
    resize:both;
  }
    
  .line_1,.line_2 {
      white-space: nowrap; /* keep text in one line */
      overflow: hidden;  /*hide text behind the cursor */
      margin: 0.5rem auto;
      color:#EEEEEE;
      font-family: var(--title-font);
      font-size: 40px;
      border-right: 7px solid dodgerblue;
  }
    
    
  .line_1 {
      animation: animated-text__1 5.5s steps(30, end) 1s  normal both,
      animated-cursor__1 900ms steps(30, end) 8;
    }
    
    .line_2 {
      animation: animated-text__2 6s steps(30, end) 1s infinite  both,
        animated-cursor__2 900ms steps(30, end) infinite ;
      -webkit-animation-delay: 7s;
      animation-delay: 7s;
    }
    
    
  @keyframes animated-cursor__1 {
      from {
          border-right-color: #ea08b3;
      }
      to {
          border-right-color: dodgerblue;
      }
  }
    
  @keyframes animated-cursor__2 {
      from {
          border-right-color: dodgerblue;
        }
        to {
          border-right-color: #ea08b3;
        }
    }
    
    @keyframes animated-text__1 {
      from {
        width: 0;
      }
      to {
        width: 69rem;
        border:none;
      }
    }
    
    @keyframes animated-text__2 {
      from {
        width: 0;
        border:none;
      }
      to {
        width: 50rem;
      }
    }
  
  
  .homepage-form{
      margin:15px 0 15px 0;
  }
  .homepage-cards{
      margin:15px 0 15px 0;
  }
  .loading-icon{
    display:flex;
    justify-content: center;
    margin:auto;
    align-items: center;
    background:none;
    width:200px;
  }
  .homepage-cards p{
      font-size:28px;
      color:#F5F2E7;
      font-family: var(--par-font);
  }
  .search-text{
    font-size:20px;
    font-family: var(--main-font);
    color:white;
  }
  
  .defaultTitle{
    margin-top:12px;
    color:#F5F2E7;
    font-size: 27px;
    font-family: var(--main-font);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wrapper-grid{
    margin-top:25px;;
      display:grid;
      grid-template-columns:repeat(auto-fit,18.5rem);
      justify-content: space-around;
  }  

  /* Card */ 
  .containers{
    overflow: hidden;
    text-align: center;
    border-radius: 1rem;
    margin-bottom:30px;
    padding:0;
  } 
  
  .card_img{
      width:100%;
      display:flex;
      align-items: end;
      justify-content: center;
    }
 
    .card-prompt{      
      text-align: center;
      transition: 0.5s;
      transform: translateY(0px);
      opacity: 0;
      position:absolute;
      backdrop-filter:blur(5px);
      padding:7.5px;	
      width:18.5rem;
      border-radius: 1rem;
      }
  .card-prompt p{
      font-size: 15px;
      color:white;
      font-family: var(--title-font);
      font-weight:bolder;
      letter-spacing: 2px;
      margin:0;
  }
  .card_img:hover .card-prompt{
      transform: translateY(0px);
      opacity:1;
  } 
  
  .card_content{
      display:flex;
      justify-content: space-between;
      width:100%;
      padding:0;
      margin:0;
  }
  .card_content p{
      font-size: 21px;
      font-family: var(--title-font);
      margin:0px 0 5px 21px;
      padding-top:0px;
      letter-spacing: 1.2px;;
  }
  .downBtn{
      background: none;
      margin:0;
      padding:0;
      border:none;
  }
  .imgg{
      width:26px;
      background: none;
      margin-right:19px;
      cursor: pointer;
      padding:0;
  }


  @media only screen and (max-width:500px){
    .header img{
      width:100%;
      height:225px;
    }
    .wrapper{
    line-height: 32px;
    }
    .line_1,.line_2{
      font-size: 15px;
      display:flex;
      flex-direction: column;
    }
    .line_1{
      -webkit-animation:none;
      border-right: none;
    }
    .line_2 {
      animation: animated-text__2 6s steps(30, end) 1s infinite  both,
        animated-cursor__2 900ms steps(30, end) infinite ;
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
      border-right: solid 4px dodgerblue;

    }
    @keyframes animated-cursor__2 {
      from {
          border-right-color: dodgerblue;
        }
        to {
          border-right-color: #ea08b3;
        }
    }
    @keyframes animated-text__2 {
      from {
        width: 0;
      }
      to {
        width: 19rem;
      }
    }
    
    }
    @media screen and (min-width:500px) and (max-width:980px){
      .head-main{
        width:92%;
      }
     .header img{
      width:100%;
      height:325px;
    }
    .wrapper{
      line-height: 62px;
    }
    .line_1,.line_2{
      font-size:23px;
    } 
    @keyframes animated-text__1 {
      from {
        width: 0;
      }
      to {
        width: 45rem;
        border:none;
      }
    }
    
    @keyframes animated-text__2 {
      from {
        width: 0;
        border:none;
      }
      to {
        width: 29rem;
      }
    }
      }
  @media screen and ((min-width:980px) and  (max-width:1200px))
  {
  .header img{
    width:100%;
    height:370px;
  }
  .wrapper{
    line-height: 80px;
  }
  .line_1,.line_2{
    font-size:33px;
  } 
  @keyframes animated-text__2 {
    from {
      width: 0;
      border:none;
    }
    to {
      width: 41rem;
    }
  }
    }

  